---
---

$light-blue: rgb(128, 186, 232);
$ocean-blue: rgb(28, 170, 228);
$forest-green: rgb(90, 132, 139);

@mixin futura {
  font-family: Futura, 'Open Sans', sans-serif;
  font-weight: 300;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-bottom: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  @include futura;
}

a {
  text-decoration: none;
  color: $forest-green;
  &:hover {
    color: darken($forest-green, 20);
  }
}

header h1 {
  background: url(../img/logomark.png) 0px 0px no-repeat;
  float: left;
  font-size: 36px;
  padding: 25px 82px;
  text-transform: uppercase;
  @media only screen and (max-width: 767px) {
    background: url(../img/logomark.png) 172px 0px no-repeat;
    font-size: 2em;
    padding: 125px 0 2rem 0;
    float: none;
    text-align: center;
  }
  @media only screen and (max-width: 479px) {
    background: url(../img/logomark.png) 112px 0px no-repeat;
  }
}

nav {
  float: right;
  padding: 3rem 0;
  @media only screen and (max-width: 767px) {
    float: none;
    padding: 0;
    ul {
      padding: 0 0 0 0;
      text-align: center;
    }
  }
}

nav ul li {
  @include futura;
  text-transform: uppercase;
  display: inline;
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }
  @media only screen and (max-width: 479px) {
    display: inline-block;
  }
}

nav a {
  color: #666;
  text-decoration: none;
  &:hover {
    color: $light-blue;
  }
}

.center {
  margin: auto;
}

.banner {
  background: url(../img/badge.png) 113px 133px no-repeat,
              url(../img/aid-woman.png) 0px 0px no-repeat;
  background-color: $light-blue;
  color: white;
  min-height: 309px;
  padding: 1.5rem 0;
  position: relative;
  @media only screen and (max-width: 767px) {
      background: url(../img/badge.png) -30px 125% no-repeat;
      background-color: $light-blue;
      min-height: 0;
  }
  @media only screen and (max-width: 624px) {
      background-image: none;
  }
  p {
    font-size: 1.2em;
    font-weight: 300;
    margin-left: 25%;
    text-shadow: 1px 1px $light-blue;
    @media only screen and (max-width: 767px) {
      margin-left: 0;
    }
  }
  strong {
    font-weight: 400;
  }
  a {
    color: darken($light-blue, 50);
    &:hover {
      text-decoration: underline;
    }
  }
}

button, .button {
  display: inline-block;
  text-decoration: none;
  background-color: $ocean-blue;
  color: white;
  padding: 1em 2em;
  border-radius: 3px;
  &:hover {
    color: white;
    background-color: lighten($ocean-blue, 10);
  }
}

button.block, .button.block {
  display: block;
  margin: auto;
  width: 50%;
  text-align: center;
}
